<!-- <h2>Simple Button Demo</h2>
<app-btn-component></app-btn-component>
<app-btn-component></app-btn-component>

<h2>Button Demo With ng-content</h2>
<app-fancy-btn-component >Click Me</app-fancy-btn-component>
<app-fancy-btn-component (click)="btnClicked($event)"
  ><b style="color: red">Submit</b></app-fancy-btn-component
>
<br>
<app-card-component>
  <header><h1>Angular</h1></header>
  <content> One Framework</content>
  <footer><b>Super-powered by Google</b></footer>
</app-card-component>
<app-card-component>
  <header><h1 style="color:red;">React</h1></header>
  <content>A JavaScript library for building user interfaces</content>
  <footer><b>Facebook Open Source </b></footer>
</app-card-component> -->
<!-- <p></p>

<app-templaterefexp></app-templaterefexp> -->
<!-- <app-containerexam></app-containerexam> -->
<!-- <app-templateexample></app-templateexample> -->
<!-- <button [ttClass]="'blue'">Clcik Me</button>  -->
<!--
Show Me
<input type="checkbox" [(ngModel)]="show">

 <div *ngIf="show">
  Using the ngIf directive
</div>

<div *ptIf="show">
  Using the ptIf directive
</div> -->
<!--
<div>
  <h2> Host Binding Example</h2>
  <p appAppHighlight>This Text has blue border</p>
</div> -->

<app-box></app-box>
