<ul>
  <span *ngFor="let item of items">
    <li *ngIf="item.active">
      {{ item.name }}
    </li>
  </span>
</ul>

<ul>
  <ng-container *ngFor="let item of items">
    <li *ngIf="item.active">
      {{ item.name }}
    </li>
  </ng-container>
</ul>

<div *ngIf="items">
  //Replace the div with ng-container as shown below
  <div *ngFor="let item of items">
    {{ item.name }}
  </div>
</div>

<ng-container *ngIf="items">
  <div *ngFor="let item of items">
    {{ item.name }}
  </div>
</ng-container>
